{% extends "base.html" %}
{% block title %}Sudoku!{% endblock %}
{% block content %}
{% for i in x %}
<div>
    <table>
    <tr>
    {% for j in i %}
        {% if j == 0 %}
            <td><form action="" method="post" id="myForm"><button type="submit" style="margin-top: 0px;height: 64px;width: 64px;" class="btn btn-sm btn-info" name="something"><i class="fa fa-check"></i>{{y}}</button></form></td>
        {% endif %}
        {% if j != 0 %}
            <td><form action="" method="post" id="myForm"><button type="submit"  style=" margin-top: 0px;height: 64px;width: 64px;" class="btn btn-sm btn-info" name="hover"><i class="fa fa-check"></i>{{j}}</button></form></td>
        {% endif %}
    {% endfor %}
    </tr>
    </table>
</div>
{% endfor %}
{% endblock %}
<form action="" method="post" id="myForm">
    <button type="submit" class="btn btn-sm btn-info" name="something"><i class="fa fa-check"></i>Submit</button>
</form>